<div class="card panel-default" style="max-width: 18rem;">
    <div class="card-header">{{data.cabecalho}}</div>
    <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text">{{data.mensagem}}</p>
        <p class="card-text">{{data.codigo}} - {{data.nome}}</p>
    </div>
    <div class="card-footer bg-transparent text-right">
        <button type="button" class="btn btn-primary btn-sm" [mat-dialog-close]="true" cdkFocusInitial>Sim</button>
        <button type="button" class="btn btn-secondary btn-sm ml-1" (click)="onNoClick()">Não</button>
    </div>
</div>