<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">POS</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownSave" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Create
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownSave">
            <a class="dropdown-item" routerLink="domain/save">Domain</a>
            <a class="dropdown-item" routerLink="paymentMethod/save">Payment Method</a>
            <a class="dropdown-item" routerLink="brand/save">Brand</a>
            <a class="dropdown-item" routerLink="provider/save">Provider</a>
            <a class="dropdown-item" routerLink="measure/save">Measure</a>
            <a class="dropdown-item" routerLink="category/save">Category</a>
            <a class="dropdown-item" routerLink="subcategory/save">Subcategory</a>
            <a class="dropdown-item" routerLink="product/save">Product</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownList" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            List
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownList">
            <a class="dropdown-item" routerLink="domain/list">Domain</a>
            <a class="dropdown-item" routerLink="measure/list">Measure</a>
            <a class="dropdown-item" routerLink="brand/list">Brand</a>
            <a class="dropdown-item" routerLink="provider/list">Provider</a>
            <a class="dropdown-item" routerLink="category/list">Category</a>
            <a class="dropdown-item" routerLink="subcategory/list">Subcategory</a>
            <a class="dropdown-item" routerLink="paymentMethod/list">Payment Method</a>
            <a class="dropdown-item" routerLink="product/list">Product</a>
            <a class="dropdown-item" routerLink="/">Order</a>
            <a class="dropdown-item" routerLink="/">Withdrawal</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownOrder" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Order
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownOrder">
            <a class="dropdown-item" routerLink="venda/venda-add-product">Efetuar Venda</a>
            <a class="dropdown-item" href="#">Cancel Order</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownRetirada" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Withdrawal
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownRetirada">
            <a class="dropdown-item" href="#">Make Withdrawal</a>
            <a class="dropdown-item" href="#">Cancel Withdrawal</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">PayBack</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Reports</a>
        </li>
      </ul>
      <ul class="navbar-nav navbar-">
        <li class="nav-item">
          <!--<span class="sr-only">(current)</span>-->
          <a class="nav-link" href="#">Exit</a>
        </li>
      </ul>
    </div>
</nav>
