<div class="card panel-default">
    <div class="card-header">
        <h3 class="card-title">{{nome_page}}</h3>
    </div>
    <form [formGroup]="vendaAddProdutosFormGroup">
        <div class="card-body">
            <div class="card">
                <div class="card-body">
                    <div class="form-group row">
                        <label for="barcode" class="col-md-0 col-form-label">Código de Barras</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" formControlName="barcode">
                        </div>
                        <button type="button" class="btn  btn-secondary" style="width: 450px" (click)="addProduto()">+ Adicionar</button>
                    </div>
                </div>
            </div>
            <br>
            <div class="form-group">
                <div class="card panel-default">
                    <div class="card-body">
                        <div class="form-row">
                            <div class="col-md-12 mb-12">
                                <div class="table-responsive-sm text-center">
                                    <table class="table table-bordered" *ngIf="vendaHasItemProduto.length ===0" scope="row">
                                        <tbody>
                                        <tr>
                                            <td class="col text-center" colspan="4">{{nunhum_encontrado}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <table class="table table-bordered table-hover" *ngIf="vendaHasItemProduto.length !==0">
                                        <thead class="thead-dark">
                                        <tr>
                                            <th scope="col" style="width: 120px;">Código</th>
                                            <th scope="col">Produto</th>
                                            <th scope="col" style="width: 120px;">Quantidade</th>
                                            <th scope="col" style="width: 120px;">Tamanho</th>
                                            <th scope="col" style="width: 120px;">Preço</th>
                                            <th scope="col" style="width: 120px;">Total Item</th>
                                            <th scope="col" style="width: 80px;">&nbsp;</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let itemProdutoVenda of vendaHasItemProduto; let i = index;">
                                                <td style="vertical-align: middle;">
                                                    {{itemProdutoVenda.produtoHasItensTipoMedida.codigo}}</td>
                                                <td style="vertical-align: middle;">
                                                    {{itemProdutoVenda.produtoHasItensTipoMedida.produto.nome}}</td>
                                                <td>
                                                    <input type="number" class="form-control" value="1"/>
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control"
                                                           readonly
                                                           style="width: 120px;"
                                                           value="{{itemProdutoVenda.produtoHasItensTipoMedida.itensTipoMedida.valor}}"/>
                                                    </td>
                                                <td>
                                                    <input type="text" class="form-control"
                                                           readonly
                                                           currencyMask
                                                           style="width: 120px;"
                                                           [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"
                                                           value="{{itemProdutoVenda.produtoHasItensTipoMedida.produto.precoVenda}}"/>
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control"
                                                           readonly
                                                           currencyMask
                                                           style="width: 120px;"
                                                           [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"
                                                           value="{{itemProdutoVenda.produtoHasItensTipoMedida.produto.precoVenda}}"/>
                                                    </td>
                                                <td>
                                                    <button type="button" class="btn  btn-secondary" style="width: 50px" (click)="remover(i)">&nbsp;-&nbsp;</button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="form-row">
                    <div class="col-md-8 mb-2">
                        <div class="card">
                            <div class="card-body">
                                <div class="col-md-12 mb-2">
                                    <label for="formadepagamento">Formas de pagamento</label>
                                    <select class="form-control" formControlName="formadepagamento"
                                            [disableControl]="vendaHasItemProduto.length === 0"
                                            (change)="onChangeFormapagamento($event.target.value)"
                                            [ngClass]="{ 'is-invalid': submitted && f.formadepagamento.errors }">
                                        <option *ngFor="let formadepagamento of formasdepagamentos"
                                                [value]="stringify(formadepagamento)">{{formadepagamento.nome}}</option>
                                    </select>
                                    <div *ngIf="submitted && f.formadepagamentos.errors" class="invalid-feedback">
                                        <div *ngIf="f.formadepagamentos.errors.required">Forma de pagamento é obrigatório</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="card">
                            <div class="card-body">
                                <div class="form-row">
                                    <div class="col-md-6 mb-2">
                                        <div class="form-group row">
                                            <label for="pagamento" class="col-md-3 col-form-label">Pagamento:</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control"
                                                       currencyMask
                                                       style="width: 120px;"
                                                       formControlName="pagamento"
                                                       [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"
                                                       (keyup)="calculaTroco()"
                                                />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-2">
                                        <div class="form-group row">
                                            <label for="troco" class="col-md-2 col-form-label">Troco:</label>
                                            <div class="col-md-10">
                                                <input type="text" class="form-control"
                                                       readonly
                                                       currencyMask
                                                       style="width: 120px;"
                                                       formControlName="troco"
                                                       [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body text-right">
                                <div class="form-group row">
                                    <label for="subtotal" class="col-md-4 col-form-label">Subtotal:</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control"
                                               readonly
                                               currencyMask
                                               formControlName="subtotal"
                                               [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"/>

                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="desconto" class="col-md-4 col-form-label">Desconto%:</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control"
                                               readonly
                                               style="text-align: right"
                                               formControlName="desconto"/>
                                    </div>
                                </div>
                                <hr>
                                <br>
                                <div class="form-group row">
                                    <label for="totalPagar" class="col-md-4 col-form-label">Total a pagar:</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control"
                                               readonly
                                               currencyMask
                                               formControlName="totalPagar"
                                               [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card text-right">
                <div class="card-body">
                    <div class="form-group row">
                        <label for="valorPago" class="col-md-10 col-form-label" >Valor pago:</label>
                        <div class="col-md-2">
                            <input type="text" class="form-control"
                                   readonly
                                   currencyMask
                                   style="width: 260px;color: red; font-weight: bold"
                                   formControlName="valorPago"
                                   [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="valorPendente" class="col-md-10 col-form-label">Valor pendente:</label>
                        <div class="col-md-2">
                            <input type="text" class="form-control"
                                   readonly
                                   currencyMask
                                   style="width: 260px;color: red; font-weight: bold"
                                   formControlName="valorPendente"
                                   [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer bg-transparent text-right">
            <button type="button" class="btn btn-secondary" (click)="onCadastrar()">Avançar</button>
            <button type="button" class="btn btn-secondary ml-1" (click)="onCancelar()">Cancelar</button>
        </div>
    </form>
</div>
