<div class="card panel-default">
    <div class="card-header">
        <h3 class="card-title">Save Category</h3>
    </div>
    <form [formGroup]="categoryForm" [ngSwitch]="update">
        <div class="card-body">
            <div class="form-group" *ngSwitchCase="true">
                <label for="id">Id</label>
                <input type="text" formControlName="id" class="form-control" readonly/>
            </div>

            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" formControlName="name" class="form-control"
                       [ngClass]="{ 'is-invalid': submitted && f.name.errors }"/>
                <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                    <div *ngIf="f.name.errors.required">Name is required</div>
                    <div *ngIf="f.name.errors.maxlength">The field must contain a maximum of 45 characters</div>
                </div>
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea type="text" formControlName="description" class="form-control"
                          [ngClass]="{ 'is-invalid': submitted && f.description.errors }"></textarea>
                <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                    <div *ngIf="f.description.errors.required">Description is required</div>
                    <div *ngIf="f.description.errors.maxlength">The field must contain a maximum of 45 characters</div>
                </div>
            </div>
            <div class="card panel-default">
                <div class="card-header">
                    <h6 class="card-title">Subcategorías</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive-sm">
                        <table class="table table-bordered table-hover">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">id</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Description</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody formArrayName="subcategories">
                                <tr *ngFor="let subcategory of subcategories; let i = index;"  scope="row">
                                    <td scope="col">{{subcategory.id}}</td>
                                    <td scope="col">{{subcategory.name}}</td>
                                    <td scope="col">{{subcategory.description}}</td>
                                    <td class="text-center" >
                                        <input type="checkbox" [formControlName]="i">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="card-footer bg-transparent text-right">
                <button *ngSwitchCase="true" type="button" class="btn btn-secondary" (click)="onUpdate()">Update</button>
                <button *ngSwitchCase="true" type="button" class="btn btn-secondary ml-1" (click)="onDelete(categoryForm.value)">Delete</button>
                <button *ngSwitchCase="false" type="button" class="btn btn-secondary" (click)="onSave()">Save</button>
                <button type="button" class="btn btn-secondary ml-1" (click)="onCancel()">Cancel</button>
            </div>
        </div>
    </form>


</div>
